
<nav class="navbar navbar-light bg-primary">
    <a class = "navbar-brand" href="/">
        <img src="/img/nodejs.png"> 
    </a>
    <a class = "navbar-brand" href="/bolsazero">
        1 - Bolsista 0
    </a>
    <a class = "navbar-brand" href="/codificanome">
        2 - Codifica nome
    </a>
    <a class = "navbar-brand" href="/mediaanualbolsas">
        3 - Media anual bolsas
    </a>
    <a class = "navbar-brand" href="/rankingbolsas">
        4 - Ranking de valores pagos
    </a>
    
    <a class = "navbar-brand" href="/sair">
        5 - Sair
    </a>
    
</nav>
