<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
     <div class="container">
        <div class="card" id="pesquisa_bolsazero">
            <div class="card-header">
                <h3>Pesquisar Bolsista Zero por ano</h3>
            </div>
            <div class="card-body">
                <form method="POST" data-toggle="validator" action="/pesquisabolsazero">
                    <label>Ano a ser pesquisado</label>
                    <input type="number" min="2013" max="2016" placeholder="Dados disponíveis, anos 2013 a 2016" class="form-control" name="ano">
                    <br>
                    <button class="btn btn-primary">Consultar</button>
                </form>
            </div>
        </div>
    </div>
    <script>

    </script>
</body>
<%- include ('partials/footer.ejs') %>